/* Typeography */
:root {
	--font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

	--text-size-xs: clamp(0.6rem, 0.17vw + 0.76rem, 0.7rem);
	--text-size-s: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
	--text-size-p: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--text-size-heading-xs: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
	--text-size-heading-s: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
	--text-size-heading-m: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
	--text-size-heading-l: clamp(2.44rem, 2.38vw + 1.85rem, 3rem);
	--text-size-heading-xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: var(--font-sans);
	line-height: 1.5;
	margin: 0;
	min-height: 100vh;
}

h1,
.h1,
.hxl,
h2,
.h2,
.hl,
h3,
.h3,
.hm,
h4,
.h4,
.hs,
h5,
.h5,
.hxs,
h6,
.h6 {
	margin-block: 0.2em;
	line-height: 1.4;
	text-wrap: balance;
}

.hxl {
	font-size: var(--text-size-heading-xl);
}

h1,
.h1,
.hl {
	font-size: var(--text-size-heading-l);
}

h2,
.h2,
.hm {
	font-size: var(--text-size-heading-m);
}

h3,
.h3,
.hs {
	font-size: var(--text-size-heading-s);
}

h4,
.h4,
.hxs {
	font-size: var(--text-size-heading-xs);
}

h5,
.h5,
p,
.p,
li {
	font-size: var(--text-size-p);
}

h6,
.s {
	font-size: var(--text-size-s);
}

.xs {
	font-size: var(--text-size-xs);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Utils */

.readable {
	max-width: 900px;
	width: 100%;
}

.flex {
	display: flex;
	gap: 10px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	grid-gap: 20px;
}

.layout {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: [start] 2.5vw [content] 95vw [content] 2.5vw [end];
}

.layout-sidebar {
	--side-bar-width: 300px;
	grid-template-columns: [start] 2.5vw [main sidebar] var(--side-bar-width) [sidebar content] auto [content main] 2.5vw [end];
	display: grid;
}

:is(.layout, .layout-sidebar) > * {
	grid-column: content/content;
}

.full {
	width: 100%;
	grid-column: start / end;
}

.content {
	width: 100%;
	grid-column: content / content;
}

.l-margin {
	width: 100%;
	grid-column: l-margin / l-margin;
}

.r-margin {
	width: 100%;
	grid-column: r-margin / r-margin;
}
.sidebar {
	width: 100%;
	grid-column: sidebar / sidebar;
}
.main {
	width: 100%;
	grid-column: main / main;
}
