:root {
	--fg: #eee;
	--border-color: var(--fg);
}

body {
	background: #101010;
	color: var(--fg);
}

.shiki {
	padding: 10px;
	border-radius: 4px;
	background-color: #011627;
	--shiki-dark-bg: #011627;
	color: #d6deeb;
	--shiki-dark: #d6deeb;
}

aside nav {
	padding: 10px 0;
}

aside nav a {
	padding: 6px 0;
	display: block;
	color: var(--fg);
	text-decoration: none;
}

button {
	border: solid 2px var(--border-color);
	background: transparent;
	color: var(--fg);
	border-radius: 4px;
}
